<nb-card size="tiny" [nbSpinner]="loading">
	<nb-card-header>
		<div class="row">
			<div class="col-auto title">{{title}}</div>
		</div>
	</nb-card-header>
	<nb-card-body>
		<div class="row">
			<div class="col-auto" *ngIf="icon">
				<img src="/assets/images/{{icon}}" />
			</div>
			<div class="col-auto border-right">
				<p class="primary-data no-title">{{ (unidades?.factor ? (value/unidades.factor) : value) | customNumber: format}} <small *ngIf="unidades.text">{{unidades?.text ? unidades.text : unidades}}</small></p>
			</div>
			<div class="col-auto">
				<p class="title">Periodo previo</p>
				<p class="secondary-data">{{ (unidades?.factor ? (value_pre/unidades.factor) : value_pre) | customNumber: format}} <small *ngIf="unidades.text">{{unidades?.text ? unidades.text : unidades}}</small></p>
			</div>
		</div>
	</nb-card-body>
</nb-card>  